<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>게시물 상세페이지</title>
<header th:include="header :: header"></header>
<script type="text/javascript" src="../js/board/board-reg.js"></script>
<div class="main_container">
	<div style="width: 100%; text-align: center">
		게시물 상세
	</div>
	<form id="insertForm">
		제목<input type="text" id="boardTitle" name="boardTitle">
		카테고리<select id="categoryList" name=categoryNo></select>
		내용<textarea id="boardContent" name="boardContent"></textarea>
	</form>
	<button id="listBtn">목록</button>
</div>
<footer th:include="footer :: footer"></footer>
</html>