<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>게시물 상세페이지</title>
<header th:include="header :: header"></header>
<script type="text/javascript" src="../js/board/board-details.js"></script>
<div class="main_container">
	<div style="width: 100%; text-align: center">
		게시물 상세
	</div>
	<span id="boardNo"  th:text="${params.boardNo}" style="display: none;"></span>
	<p id="boardTitle"></p>
	<p id="categoryName"></p>
	<div id="boardContent"></div>
	<p id="fileName"></p>
	<button id="editBtn" style="display: none;">수정</button>
	<button id="deleteBtn" style="display: none;">삭제</button>
	<button id="listBtn">목록</button>
</div>
<footer th:include="footer :: footer"></footer>
</html>