<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>게시물 수정</title>
<body>
	<header th:include="header :: body"></header>
	<script type="text/javascript" src="/js/board/board-edit.js"></script>
	<script type="text/javascript" src="/js/commons/file.js"></script>
	<script type="text/javascript" src="/library/ckeditor/ckeditor.js"></script>
	<link href="/css/board/reg.css" type="text/css" rel="stylesheet">
	<main>
		<div class="create-post-container">
	        <h2>게시글 수정하기</h2>
	        <form id="updateForm" enctype="multipart/form-data">
				<input type="hidden" id="boardNo" name="boardNo"  th:value="${params.boardNo}" >
	
	            <!-- 카테고리 선택 -->
	            <div class="form-group">
	                <label for="category">카테고리</label>
	                <select id="categoryList" name=categoryNo></select>
	            </div>
	
	            <!-- 제목 입력 -->
	            <div class="form-group">
	                <label for="title">제목</label>
	                <input type="text" id="boardTitle" name="boardTitle" placeholder="제목을 입력하세요" required>
	            </div>
	
	            <!-- 게시글 내용 -->
	            <div class="form-group">
	                <label for="content">내용</label>
	                <textarea id="editor"></textarea>
	            </div>
	
	            <!-- 파일 첨부 -->
	            <div class="form-group">
	                <label for="file">파일 첨부</label>
	                <input type="file" id="file" name="boardFile" multiple>
	            </div>
	            <!-- 등록된 파일 표시 -->
                <div class="attached-files">
                    <h3>등록된 파일</h3>
                    <ul id="fileList">
                    	<li>등록된 파일이 없습니다.</li>
                    </ul>
                </div>
	
	            <!-- 작성/취소 버튼 -->
	            <div class="form-buttons">
	                <button type="button" id="updateBtn" class="submit-button">수정하기</button>
	                <button type="button" id="listBtn" class="cancel-button">취소</button>
	            </div>
	        </form>
		</div>
    </main>
	<footer th:include="footer :: body"></footer>
</body>
</html>