<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>게시물 목록</title>
<body>
	<header th:include="header :: body"></header>
	<script type="text/javascript" src="/js/board/board-list.js"></script>
	<script type="text/javascript" src="/js/commons/paging.js"></script>
	<link href="/css/board/list.css" type="text/css" rel="stylesheet">
	<main>
		<div class="board-container">
			<h2>게시판</h2>
			<div id="board-controls" class='board-controls'>
				<div class="controls-inner">
					<div class="category-select">
						<select id="categoryList" name="category"></select>
					</div>
					<div class="search-box">
						<input type="text" placeholder="검색어를 입력하세요" name='keyword' id="search">
   	                 	<button type="button" id= 'searchBtn'>검색</button>
					</div>
				</div>
				<a href="/board/reg" class="post-button">게시물 등록</a>
			</div>
			<table class="board-table">
				<thead>
					<tr>
						<th>번호</th>
						<th>카테고리</th>
						<th>제목</th>
						<th>작성자</th>
						<th>날짜</th>
						<th>조회수</th>
					</tr>
				</thead>
				<tbody id="boardDataList">
				</tbody>
			</table>
			<div class="pagination board-pagination" id="paginDiv">
			</div>
		</div>
	</main>
	<footer th:include="footer :: body"></footer>
</body>
</html>