@charset "UTF-8";

/* .container-600 { width:600px; margin:0 auto; }
.container-650 { width:650px; margin:0 auto; }
.container-700 { width:700px; margin:0 auto; }
.container-750 { width:750px; margin:0 auto; }
.container-800 { width:800px; margin:0 auto; }
.container-850 { width:850px; margin:0 auto; }
.container-900 { width:900px; margin:0 auto; }
.container-950 { width:950px; margin:0 auto; }
.container-1000 { width:1000px; margin:0 auto; }
.container-1050 { width:1050px; margin:0 auto; }
.container-1100 { width:1100px; margin:0 auto; }
.container-1150 { width:1150px; margin:0 auto; } */
.main_container { width:1200px; margin:0 auto; }