<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header>
	<link href="../css/commons.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="../js/jquery-3.7.1.min.js"></script>
	<script type="text/javascript" src="../js/commons/commons.js"></script>
	<script>
	</script>
        <nav>
        	헤더(wjqfc227)
        	<span  th:text="${session.user_no}"></span>
        	<a href="/user/mypage" th:if="${session.user_no}">마이페이지</a>
        	<a href="/">홈으로</a>
        	<a href="#" id="logout">로그아웃</a>
        </nav>
    </header>
