<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.simple.community.mapper.BoardMapper" >

	<select id="boardListCnt">
		SELECT COUNT(1) FROM TP_BOARD WHERE DEL_FG=0
	</select>
	
	<select id="boardList" resultType="com.simple.community.entity.BoardDto">
		SELECT
			TPB.BOARD_NO
			,TPC.CATEGORY_NAME 
			,TPB.BOARD_TITLE
			,TPU.USER_ID
			,TPB.MOD_DATE
			FROM TP_BOARD TPB
			LEFT JOIN TP_CATEGORY TPC ON TPB.CATEGORY_NO = TPC.CATEGORY_NO
			LEFT JOIN TP_USER TPU ON TPB.USER_NO = TPU.USER_NO
			<where>
				AND DEL_FG = 0
			</where>
	</select>
	
	<insert id="boardInsert">
		INSERT INTO TP_BOARD(
			BOARD_NO
			,CATEGORY_NO
			,USER_NO
			,BOARD_TITLE
			,BOARD_CONTENT
			,REG_ID
			,REG_DATE
			,MOD_DATE
			,MOD_ID
			,DEL_FG
		)VALUES(
			BOARD_SEQ.NEXTVAL
			,#{categoryNo}
			,#{userNo}
			,#{boardTitle}
			,#{boardContent}
			,#{userNo}
			,SYSDATE
			,SYSDATE
			,#{userNo}
			,'0'
		)
	</insert>

</mapper>