<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.simple.community.mapper.SerialMapper" >

	<select id="checkSerial" resultType="int" parameterType="com.simple.community.entity.EmailDto">
		SELECT COUNT(SERIAL)
		FROM
		TP_EMAIL_SERIAL
		<where>
			AND DE_FLG = 0
			<if test="serialNo != null and serialNo != ''">
				AND SERIAL_NO = #{serialNo}
			</if>
			<if test="serial != null and serial != ''">
				AND SERIAL = #{serial}
			</if>
			<if test="userId != null and userId != ''">
				AND USER_NO = (SELECT USER_NO FROM TP_USER WHERE USER_ID = #{userId})
			</if>
			<if test="userEmail != null and userEmail != ''">
				AND USER_EMAIL = #{userEmail}
			</if>
		</where>
	</select>

	<update id="deleteSerial">
		UPDATE TP_EMAIL_SERIAL
			<set>
				DE_FLG = 1
			</set>
			<where>
				<if test="serialNo != null and serialNo != ''">
					AND SERIAL_NO = #{serialNo}
				</if>
				<if test="userId != null and userId != ''">
					AND USER_NO = (SELECT USER_NO FROM TP_USER WHERE USER_ID = #{userId})
				</if>
				<if test="userEmail != null and userEmail != ''">
					AND USER_EMAIL = #{userEmail}
				</if>
			</where>
	</update>

	<insert id="insertSerial">
		INSERT INTO TP_EMAIL_SERIAL
		(
			SERIAL_NO
			<if test="userId != null and userId != ''">
				,USER_NO
			</if>
			,USER_EMAIL
			,SERIAL
			,REG_DATE
			,DE_FLG
		)VALUES
		(
			SERIAL_SEQ.NEXTVAL
			<if test="userId != null and userId != ''">
				,(SELECT USER_NO FROM TP_USER WHERE USER_ID = #{userId})
			</if>
			,#{userEmail}
			,#{serial}
			,SYSDATE
			,0
		)
		<selectKey keyProperty="serialNo" resultType="int" order="AFTER">
       		SELECT SERIAL_SEQ.CURRVAL FROM DUAL
  		</selectKey>
	</insert>
</mapper>