<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.simple.community.mapper.SerialMapper" >
	<insert id="insertSerial">
		INSERT INTO TP_EMAIL_SERIAL
		(
			SERIAL_NO
			<if test="userId != null and userId != ''">
				,USER_NO
			</if>
			,USER_EMAIL
			,SERIAL
			,REG_DATE
			,DE_FLG
		)VALUES
		(
			SERIAL_SEQ.NEXTVAL
			<if test="userId != null and userId != ''">
				,(SELECT USER_NO FROM TP_USER WHERE USER_ID = #{userId})
			</if>
			,#{userEmail}
			,#{serial}
			,SYSDATE
			,0
		)
	</insert>
</mapper>