<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.simple.community.mapper.BoardMapper" >

	<sql id="paging_start">
		SELECT * FROM (
	</sql>
	<sql id="paging_end">
		)
		WHERE row_num BETWEEN #{firstRecordIndex} AND #{lastRecordIndex}
	</sql>
	
	<select id="boardListCnt">
		SELECT COUNT(1) FROM TP_BOARD 
			WHERE DEL_FG=0
			<if test="category != null and category != ''">
				AND CATEGORY_NO = #{category}
			</if>
			<if test="keyword != null and keyword != ''">
				AND BOARD_TITLE LIKE '%'||#{keyword}||'%'
			</if>
	</select>
	
	<select id="boardList" resultType="com.simple.community.entity.BoardDto">
		<include refid="paging_start"></include>
		SELECT
			ROW_NUMBER() OVER(ORDER BY TPB.BOARD_NO DESC) AS ROW_NUM
			,TPB.BOARD_NO
			,TPC.CATEGORY_NAME 
			,TPB.BOARD_TITLE
			,TPB.USER_NO
			,TPU.USER_ID
			,TPB.MOD_DATE
			FROM TP_BOARD TPB
			LEFT JOIN TP_CATEGORY TPC ON TPB.CATEGORY_NO = TPC.CATEGORY_NO
			LEFT JOIN TP_USER TPU ON TPB.USER_NO = TPU.USER_NO
			<where>
				AND DEL_FG = 0
				<if test="category != null and category != ''">
					AND TPB.CATEGORY_NO = #{category}
				</if>
				<if test="keyword != null and keyword != ''">
					AND TPB.BOARD_TITLE LIKE '%'||#{keyword}||'%'
				</if>
			</where>
		<include refid="paging_end"></include>
	</select>
	
	<update id="boardUpdate">
		UPDATE TP_BOARD
			<set>
				CATEGORY_NO = #{categoryNo}
				,BOARD_TITLE = #{boardTitle}
				,BOARD_CONTENT = #{boardContent}
				,MOD_ID = #{userNo}
				,MOD_DATE = SYSDATE
			</set>
			<where>
				AND DEL_FG = 0
				AND BOARD_NO = #{boardNo}
			</where>
	</update>
	
	<select id="boardDetiles" resultType="com.simple.community.entity.BoardDto">
		SELECT
			TPB.BOARD_NO
			,TPC.CATEGORY_NAME
			,TPB.CATEGORY_NO 
			,TPB.BOARD_TITLE
			,TPB.BOARD_CONTENT
			,TPU.USER_ID
			,TPB.MOD_ID
			,TPB.MOD_DATE
			,TPB.USER_NO
			,TF.FILE_NO
			,TF.FILE_NAME
			,TF.FILE_PATH
			,(SELECT COUNT(1) FROM TP_LIKE TL WHERE TL.BOARD_NO = #{boardNo} AND TL.DEL_FG = 0) AS LIKE_CNT
			FROM TP_BOARD TPB
			LEFT JOIN TP_CATEGORY TPC ON TPB.CATEGORY_NO = TPC.CATEGORY_NO
			LEFT JOIN TP_USER TPU ON TPB.USER_NO = TPU.USER_NO
			LEFT JOIN TP_BOARD_FILE TBF ON TPB.BOARD_NO = TBF.BOARD_NO
			LEFT JOIN TP_FILE TF ON TBF.FILE_NO = TF.FILE_NO AND TF.DEL_FG = 0
			<where>
				AND TPB.DEL_FG = 0
				AND TPB.BOARD_NO = #{boardNo}
			</where>
	</select>
	
	<update id="boardDelete">
		UPDATE TP_BOARD
			<set>
				DEL_FG = 1
			</set>
			<where>
				AND BOARD_NO = #{boardNo}
				AND USER_NO = #{userNo}
			</where>
	</update>
	
	<insert id="boardInsert">
		INSERT INTO TP_BOARD(
			BOARD_NO
			,CATEGORY_NO
			,USER_NO
			,BOARD_TITLE
			,BOARD_CONTENT
			,REG_ID
			,REG_DATE
			,MOD_DATE
			,MOD_ID
			,DEL_FG
		)VALUES(
			BOARD_SEQ.NEXTVAL
			,#{categoryNo}
			,#{userNo}
			,#{boardTitle}
			,#{boardContent}
			,#{userNo}
			,SYSDATE
			,SYSDATE
			,#{userNo}
			,'0'
		)
		<selectKey keyProperty="boardNo" resultType="int" order="AFTER">
       		SELECT BOARD_SEQ.CURRVAL FROM DUAL
  		</selectKey>
	</insert>

</mapper>