<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.simple.community.mapper.FileMapper" >

	<insert id="fileInsert">
		INSERT INTO 
			TP_FILE(
				FILE_NO
				,FILE_NAME
				,FILE_TYPE
				,FILE_TIME
				,FILE_ID
				,FILE_PATH
			)VALUES(
				FILE_SEQ.NEXTVAL
				,#{fileName}
				,#{fileType}
				,SYSDATE
				,#{fileId}
				,#{filePath}
			)
			<selectKey keyProperty="fileNo" resultType="int" order="AFTER">
       			SELECT FILE_SEQ.CURRVAL FROM DUAL
  			</selectKey>
	</insert>
	
	<select id="selectFile" resultType="com.simple.community.entity.FileDto" parameterType="map">
		SELECT
			FILE_NO
			,FILE_NAME
			,FILE_TYPE
			,FILE_TIME
			,FILE_ID
			,FILE_PATH
		FROM TP_FILE
		WHERE FILE_NO = #{fileNo}
	</select>
</mapper>