<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.simple.community.mapper.LikeMapper" >

	<update id="likeUpdate">
		MERGE INTO TP_LIKE
		USING DUAL
   			ON (BOARD_NO = #{boardNo} AND USER_NO = #{userNo})
				WHEN MATCHED THEN
    				UPDATE SET DEL_FG = ABS(DEL_FG-1)
				WHEN NOT MATCHED THEN
    			INSERT (LIKE_NO, BOARD_NO, USER_NO, DEL_FG) 
    			VALUES (LIKE_SEQ.NEXTVAL, #{boardNo}, #{userNo}, 0)
	</update>	
	
</mapper>