<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.simple.community.mapper.UserMapper" >
	<!--<select id="getOne" resultType="com.simple.community.entity.UserDto">-->
	<select id="getOne" resultType="com.simple.community.entity.UserDto">
		SELECT 
			USER_NO
			,USER_ID
			,USER_PW
			,USER_NAME
			,USER_EMAIL
			,USER_PHONE
			,USER_GENDER
			,USER_RANK
			,USER_START_DATE
			,USER_CHECK
			FROM TP_USER
			<where>
				AND USER_CHECK = 0
				<if test="userId != null and userId != ''">
					AND USER_ID = #{userId}
				</if>
				<if test="userNo != null and userNo != ''">
					AND USER_NO = #{userNo}
				</if>
				<if test="userEmail != null and userEmail != ''">
					AND USER_EMAIL = #{userEmail}
				</if>
			</where>
	</select>
	
	<select id="userCheck">
		SELECT COUNT(1)
			FROM TP_USER
			<where>
				AND USER_CHECK = 0
				<if test="userNo != null and userNo != ''">
					AND USER_NO = #{userNo}
				</if>
				<if test="userId != null and userId != ''">
					AND USER_ID = #{userId}
				</if>
				<if test="userName != null and userName != ''">
					AND USER_NAME = #{userName}
				</if>
				<if test="userEmail != null and userEmail != ''">
					AND USER_EMAIL = #{userEmail}
				</if>
			</where>
	</select>
	
	<insert id="userJoin">
		INSERT INTO TP_USER
		(
			USER_NO
			,USER_ID
			,USER_PW
			,USER_NAME
			,USER_EMAIL
			,USER_PHONE
			,USER_GENDER
			,USER_RANK
			,USER_START_DATE
			,USER_CHECK
		)VALUES
		(
			USER_SEQ.NEXTVAL
			,#{userId}
			,#{userPw}
			,#{userName}
			,#{userEmail}
			,#{userPhone}
			,#{userGender}
			,0
			,SYSDATE
			,0
		)
	</insert>

	<update id="userDataChange">
		UPDATE TP_USER
		<set>
			<if test="userName != ''">
				,USER_NAME = #{userName}
			</if>
			<if test="userEmail != ''">
				,USER_EMAIL = #{userEmail}
			</if>
		</set>
		<where>
			<if test="userId != null">
				USER_NO = (SELECT USER_NO FROM TP_USER WHERE USER_ID = #{userId})
			</if>
			OR USER_NO = #{userNo}
		</where>
	</update>
	
	<update id="deleteUser">
		UPDATE TP_USER
			<set>
				USER_CHECK = 1
			</set>
			<where>
				AND USER_NO = #{userNo}
			</where>
	</update>
	
	<update id="changePw">
		UPDATE TP_USER
			<set>
				USER_PW = #{userPw}
			</set>
			<where>
				AND USER_NO = (SELECT USER_NO FROM TP_USER WHERE USER_ID = #{userId})
				AND USER_ID = #{userId}
			</where>
	</update>
</mapper>