<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>회원가입</title>
<header th:include="header :: header"></header>
<script type="text/javascript" src="../js/user/user-join.js"></script>
<div class="main_container">
	<div style="width: 100%; text-align: center">
		<h3>회원가입</h3>
		<div id="data-container">
			<label><input id="join_checkbox" type="checkbox">동의합니다.</label>
		</div>
		<div id="join-container">
			<form id="join-form">
				<label>아이디:<input type="text" class="" id="userId" name="userId"></label>
				<label>비밀번호:<input type="password" class="" id="userPw" name="userPw"></label>
				<label>비밀번호 확인:<input type="password" class="" id="user_pw_check"></label>
				<label>이름:<input type="text" class="" id="userName" name="userName"></label>
				<label>이메일:<input type="text" class="" id="userEmail" name="userEmail"></label>
				<label>전화번호:<input type="text" class="" id="userPhone" name="userPhone"></label>
				<label>성별:<input type="text" class="" id="userGender" name="userGender"></label>
			</form>
			<button id="join_btn" class="btn">가입하기</button>
		</div>
	</div>
</div>
<footer th:include="footer :: footer"></footer>
</html>