<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>로그인</title>
<body>
	<header th:include="header :: body"></header>
	<script type="text/javascript" src="/js/user/user-login.js"></script>
	<link href="/css/login/login.css" type="text/css" rel="stylesheet">
	<main>
		<div class="login-container">
			<div class="login-box">
				<h2>로그인</h2>
				<form id="login-form">
					<div class="input-group">
						<label for="email">아이디</label>
                        <input type="text" id="userId" name="userId" required>
					</div>
					<div class="input-group">
                        <label for="password">비밀번호</label>
                        <input type="password" id="userPw" name="userPw" required>
                    </div>
				</form>
				<button id='login_btn' class="login-btn">로그인</button>
				<div class="login-links">
                    <a href="/user/find">아이디/비밀번호를 잊으셨나요?</a>
                    <a href="/user/join">회원가입</a>
                </div>
			</div>
		</div>
	</main>
	<footer th:include="footer :: body"></footer>
</body>
</html>